@page
@model Conflicts
@{

    ViewBag.Title = "Twin Rinks Game Conflicts Finder";
}
<p align="center">
    <img border="0" src="~/images/sharkslogo.gif" width="150" height="75">
</p>
<div align="center"><h3>Game Conflicts Finder</h3></div>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <div class="container">
            @Html.DropDownListFor(m => m.SelectedTeam1, Model.Teams, new { onchange = "this.form.submit();" })
            
            @Html.DropDownListFor(m => m.SelectedTeam2, Model.Teams, new { onchange = "this.form.submit();" })

            @if (Model.ConflictingGames != null)
            {
                <div style="width:200px; margin-top:10px; margin-bottom:10px"><input type="search" class="light-table-filter form-control" data-table="event-table" placeholder="Filter"></div>
                <table class="table table-hover event-table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Game1 Start Time</th>
                            <th>Game1 Team</th>
                            <th>Game1 Opponent</th>
                            <th>Game1 Location</th>
                            <th>Game2 Start Time</th>
                            <th>Game2 Team</th>
                            <th>Game2 Opponent</th>
                            <th>Game2 Location</th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var e in Model.ConflictingGames)
                        {
                        <tr>
                            <td>@e.FirstEvent.EventDate.ToString("ddd, MMM dd yyyy")</td>
                            <td>@DateTime.Today.Add(e.FirstEvent.EventStart).ToString("hh:mm tt")</td>
                            <td>@e.FirstEvent.HomeTeamName</td>
                            <td>@e.FirstEvent.AwayTeamName</td>
                            <td>@e.FirstEvent.Location</td>

                            <td>@DateTime.Today.Add(e.SecondEvent.EventStart).ToString("hh:mm tt")</td>
                            <td>@e.SecondEvent.HomeTeamName</td>
                            <td>@e.SecondEvent.AwayTeamName</td>
                            <td>@e.SecondEvent.Location</td>
                        </tr>
                        }

                    </tbody>
                </table>
            }
        </div>
    </div>
</form>